<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Playing</title>
        <link rel="stylesheet" href="css/game.css">
    </head>
    <body>
        <main>
            <div class="playfield"></div>



        <!--
                <ul id="messages"></ul>
            <form id="form" action>
                <input id="input" autocomplete="off"/><button>Send</button>
            </form>
        -->
        </main>
        
        <script src="/socket.io/socket.io.js"></script>
  <script src="js/script.js"></script>
    </body>
</html>
