<!DOCTYPE html>
<html data-theme="dark">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Playing</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="css/game.css">
</head>

<body>
    <header>
        <div class="box chatbox has-background-black-ter">
            <div class="scroll">
                <div id="messages"></div>
                <form id="form" action>
                    <!-- <input id="input" type="text number" class="input is-normal" placeholder="Type a message..." autocomplete="off" minlength="1" maxlength="100"> -->
                    <textarea id="input" type="text number" class="input is-normal" placeholder="Type a message..." autocomplete="off" minlength="1" maxlength="100"></textarea>
                    <button class="button send">Send</button>
                </form>
            </div>
        </div>
    </header>
    <main>
        <h1 class="status-win winner has-text-success has-text-weight-bold"></h1>
        <h1 class="status-win loser has-text-danger has-text-weight-bold"></h1>
        <h1 class="status-win draw has-text-warning has-text-weight-bold"></h1>
        <div class="playfield"></div>
        <div class="chatToggle">
            <button class="button is-info is-medium chatToggleButton" id="chatButton" style="visibility: hidden">Chat</button>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="js/script.js"></script>
    </main>
</body>

</html>