<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Play tic tac toe</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header></header>
    <main class="has-text-centered">
        <div class="hahaDiv">
            <h1 class="is-size-3 has-text-info">Don't try that my man hah</h1>
            <h2 class="is-size-4 has-text-danger">The room is full</h2>
            <button class="button has-background-info-dark" onclick="window.location.replace('../')">Main menu</button>
        </div>
    </main>
    <footer>
    </footer>
</body>

</html>