<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Play tic tac toe</title>
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <header></header>
        <main>
            <div class="title">
                <div class="tictactoe">
                    <h1>Tic</h1><h1>Tac</h1><h1>Toe</h1>
                </div>
                <h5 class="disabled">Multiplayer</h5>
            </div>
            <div class="modes">
                <div class="mode singleplayer" onclick="onlineJoin()">
                    <h2>Play Online</h2>
                </div>
            </div>
        </main>
        <footer>
            <div class="icons">
                <a
                    href="https://github.com/ondrejhonus/"><img
                        src="img/github.png" alt="GitHub link"></a>
                <a href="https://buymeacoffee.com/honus"><img src="img/cofee.png"
                        alt="donate"></a>
                <a href="https://ondrejhonus.xyz/"><img src="img/website.png"
                        alt="website"></a>
            </div>
        </footer>
        <script src="js/script.js"></script>
    </body>

</html>