<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Play tic tac toe</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header></header>
    <main class="has-text-centered ">
        <div class="text">
            <p class="is-size-1 has-text-info has-text-weight-bold">Tic Tac Toe</p>
            <p class="is-size-2 has-text-danger">Online</p>
        </div>
        <div class="modes">
            <button class="button is-large has-background-info has-text-black mt-5" onclick="onlineJoin()">Play Online</button>
        </div>
    </main>
    <footer>
        <div class="icons">
            <a href="https://github.com/ondrejhonus/" target="_blank"><img src="img/github.png" alt="GitHub link"></a>
            <a href="https://buymeacoffee.com/honus/" target="_blank"><img src="img/cofee.png" alt="donate"></a>
            <a href="https://ondrejhonus.com/" target="_blank"><img src="img/website.png" alt="website"></a>
        </div>
    </footer>
    <script src="js/script.js"></script>
</body>

</html>