<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Play tic tac toe</title>
    <link rel="icon" href="img/logo-dice.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header></header>
    <main class="has-text-centered ">
        <div class="text">
            <p class="is-size-1 has-text-info has-text-weight-bold">Tic Tac Toe</p>
            <p class="is-size-2 has-text-danger">Online</p>
        </div>
        <div class="modes">
            <form class="box" action="javascript:;" onsubmit="onlineJoin()">
                <input id="inputRoom" type="text" class="input is-medium" placeholder="Enter room name" maxlength="10" autocomplete="off" required autofocus>
                <button type="submit" class="button is-large has-background-info has-text-black mt-5">Create/Join room</button>
            </form>
        </div>
    </main>
    <footer>
        <div class="icons">
            <a href="https://github.com/ondrejhonus/" target="_blank"><img src="img/github.png" alt="GitHub link"></a>
            <a href="https://buymeacoffee.com/honus/" target="_blank"><img src="img/cofee.png" alt="donate"></a>
            <a href="https://ondrejhonus.com/" target="_blank"><img src="img/website.png" alt="website"></a>
        </div>
    </footer>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/menu.js"></script>
</body>

</html>