::-webkit-scrollbar {
      width: 10px
  }
  
  ::-webkit-scrollbar-track {
      background: #333
  }
  
  ::-webkit-scrollbar-thumb {
      background: #888
  }
  
  ::-webkit-scrollbar-thumb:hover {
      background: #555
  }
  
  .main {
      background-color: #333;
      width: 320px;
      position: relative;
      border-radius: 8px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding: 6px 0px 0px 0px
  }
  
  .scroll {
      overflow-y: scroll;
      scroll-behavior: smooth;
      height: 325px
  }
  
  .img1 {
      border-radius: 50%;
      background-color: #66BB6A
  }
  
  .name {
      font-size: 8px
  }
  
  .msg {
      background-color: #777;
      font-size: 11px;
      padding: 5px;
      border-radius: 5px;
      font-weight: 500;
      color: #fff
  }
  
  .form-control {
      font-size: 12px;
      font-weight: 400;
      width: 230px;
      height: 30px;
      border: none
  }
  input#input{
    position: absolute;
    bottom: 0;
  }
  button.send{
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 6px 25px;
  }
  div.chatbox{
    position: fixed;
    height: 100%;
  }

  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: black !important;
}
div.chat{

    background-color: #333;
}
div.playfield{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    
}
div.cell{
    border: solid 1px #333;
    text-align: center;
    width: 10em;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}
p.cell{
    font-size: 5em;
    margin: 0;
}