div.playfield {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    margin-top: 6em;
}

.status-win{
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 2.2em;
    font-size: 80px;
}

div.cell {
    border: solid 2px #bdbdbd;
    text-align: center;
    width: 15vh;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

p.cell {
    font-size: 10vh;
    margin: 0;
}

div.chatbox {
    width: 21em;
    height: 26em;
    left: 0;
    bottom: 7%;
    z-index: 1;
    position: absolute;
    margin: .5em;
    margin-bottom: 1.2em;
    visibility: hidden;
}

div.chatToggle{
    position: absolute;
    left: 0;
    bottom: 0;
    margin: .5em;
}

.scroll {
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 95%;
}

.msg {
    color: #000;
    border: 2px black solid;
    width: fit-content;
    border-radius: 100px;
    padding: 1px 10px;
    margin: 5px;
    max-width: 200px;
    overflow-wrap: break-word;
}

#input {
    resize: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15em;
}

button.send {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 6em;
}

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: hsl(0, 0, 14%)
}

::-webkit-scrollbar-thumb {
    background: #888
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}

.turn{
    text-align: center;
    margin-top: 2em;
    font-size: 6vh;
}

.waiting{
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 3.5em;
    font-size: 7vh;
}

.redirecting{
    position: absolute;
    top: 0;
    left: 0;
}